<h1><%= @hospital.name %></h1>

Number of Doctors in Residence: <%= @hospital.doc_count %><br>
<br>
Doctors Alma Matters:<br>
  <%# @hospital.uni.each do |university| %>
  <p><%#= university.name %></p>
  <%# end %>
